{% extends 'instagram/base.html' %}

{%block content %}

    <header>
        <div class="navigation">
            <div class="logo">
                 {% if user.is_authenticated %}
                    <a href="{% url 'logout' %}">Logout</a>
                {% else %}
                        {% comment %} <a href="{% url 'register_user' %}">Register</a> {% endcomment %}
                        <a href="{% url 'login' %}">Login</a>
                {% endif %}
            
                <a class="" href="#"><i class="fab fa-instagram"></i></a>
                <a class="vl" href="#"></a>
                <a href="#">Instagram</a>

            </div>
            <div class= "search_bar">
                <input type="text" placeholder="Search">
                <a class="seach" href="#"><i class="fas fa-search"></i></a>
            </div>
            <div class="contact_icons">
                <a class="newpost" href="{% url 'newpost' %}"><i class="fa-regular fa-square-plus"></i></a>
                <a class="likes" href="#"><i class="far fa-heart"></i></a>
                <a class="profile" href="#"><i class="far fa-user"></i></a>
            </div>
            
        </div>
    </header>


    

    <div class="content-container">

        {% for post_item in post_items %}

            <div class="card">
                <div class="card-header">
                    <div class="prof-image">
                    </div>
                    <div class="post-info">
                        <div class="post-name">{{ post_item.user.username }}</div>
                        <div class="post-location">Maldives</div>
                    </div>
                    <div class="post-options"><i class="fas fa-ellipsis-h"></i></a></div>
                </div>

                <div class="post-image">
                   <a href="{% url 'postlikes' post_item.id %}"><img src="{{ post_item.image.url }}" alt=""></a>
                </div>


                <div class="engagement">
                    {% comment %} <a href=""><i class="far fa-heart"></i></a> {% endcomment %}
                    <a href=""><i class="fa-solid fa-comment"></i></a>
                    <a href=""><i class="fa-solid fa-share-from-square"></i></a>
                    <a href=""><i class="fa-solid fa-bookmark"></i></a>
                </div>

                <div class="likes">
                    <a href=""><i class="material-icons">favorite</i></a>
                     <P>50</p>Likes
                </div>

                <div class="caption">
                    <a href=""><h4>{{post_item.user.username}}</h4></a>
                    <span><p>{{post_item.caption}}</p></span>
                    <p>{% for tag in post_item.tags.all %}<a href="{{ tag.get_absolute_url }}">#{{ tag }} </a></p>
                    {% endfor %}

                </div>
                <div class="time_posted">
                   <small> {{post_item.created_date | timesince}} ago</small>
                </div>
            </div>
        {% endfor %}

         <h1>Hello!</h1>
    </div>
    

{% endblock content %}


