{% extends 'base.html' %}

{%block content %}
    <header>
        <div class="navigation">
            <div class="logo">
                <a class="" href="#"><i class="fab fa-instagram"></i></a>
                <a href="#">Instagram</a>

            </div>
            <div class= "search_bar">
                <input type="text" placeholder="Search">
                <a class="seach" href="#"><i class="fas fa-search"></i></a>
            </div>
            <div class="contacts_icons">
                <a class="explore" href="#"><i class="far fa-compass"></i></a>
                <a class="likes" href="#"><i class="far fa-heart"></i></a>
                <a class="profile" href="#"><i class="far fa-user"></i></a>
            </div>
        </div>
    </header>


    <h1>Hello!</h1>
    <div class="container">
    {% for post in posts %}
        <p>{{post.author}}</p>
       
        <p>{{post.caption}}</p>
    {% endfor %}
</div>
   

{% endblock content %}


