{% extends 'base.html' %}

{%block content %}

    <header>
        <div class="navigation">
            <div class="logo">
                <a class="" href="#"><i class="fab fa-instagram"></i></a>
                <a class="vl" href="#"></a>
                <a href="#">Instagram</a>

            </div>
            <div class= "search_bar">
                <input type="text" placeholder="Search">
                <a class="seach" href="#"><i class="fas fa-search"></i></a>
            </div>
            <div class="contact_icons">
                <a class="explore" href="#"><i class="far fa-compass"></i></a>
                <a class="likes" href="#"><i class="far fa-heart"></i></a>
                <a class="profile" href="#"><i class="far fa-user"></i></a>
            </div>
        </div>
    </header>


    

    <div class="content-container">

        {% for post in posts %}
            <div class="card">
                <div class="card-header">
                    <div class="prof-image">
                    </div>
                    <div class="post-info">
                        <div class="post-name">{{post.author}}</div>
                        <div class="post-location">Maldives</div>
                    </div>
                    <div class="post-options"><i class="fas fa-ellipsis-h"></i></a></div>
                </div>
                <div class="post-image">
                    <img src="static/images/fliq.jpg" alt="">
                </div>
                <div class="engagement">
                    <a href=""><i class="far fa-heart"></i></a>
                    <a href=""><i class="fa-solid fa-comment"></i></a>
                    <a href=""><i class="fa-solid fa-share-from-square"></i></a>
                    <a href=""><i class="fa-solid fa-bookmark"></i></a>
                </div>
                <div class="likes">
                    <a href=""></a>
                </div>
                <div class="caption">
                    <a href=""><h3>{{post.author}}</h3></a>
                    <span><p>{{post.caption}}</p></span>
                </div>
                <div class="time_posted">
                    {{post.created_date | timesince}} ago
                </div>
            </div>
        {% endfor %}

         <h1>Hello!</h1>
    </div>
    

{% endblock content %}


