{% extends 'instagram/base.html' %}

<title>Authentication</title>

{% block content %}

    {% if form.errors %}
        <div class="alert mt-1 alert-warning alert-dismissible fade show" role="alert" >
            There was an error with your form...
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
       
    {% endif %}


   
    <div class="shadow p-5 mb-5 bg-body rounded" style="background: #f4f4f4;">
        <h2 class="text-center">Register</h2>
        <form action="{% url 'register_user' %}" method=POST>
        {% csrf_token %}

            {{ form.as_p }}

        <br/><br/>
        <input type="submit" value="Submit" class="btn btn-secondary">
        
        </form>
    </div>

{% endblock content %}